h1 {
  padding: 8px;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 8px;
  margin: 0;
  font-size: 64px;
  font-family: "Roboto Slab", serif;
}
.page-heading{
  font-size:22px;
  font-family:agency FB;
  border-left:3px solid black;
  border-right:3px solid black;
  transition: all 0.4s;
  display:inline-block;
  padding:4px 32px;
  margin-top: 120px;
    margin-left: 50px;
}

.page-heading:hover{
  padding:4px 48px;
  background:#32324e;
}
.page-heading2{
  font-size:22px;
  font-family:agency FB;
  border-left:3px solid black;
  border-right:3px solid black;
  transition: all 0.4s;
  display:inline-block;
  padding:4px 32px;
  margin-top: 120px;
    margin-left: 50px;
}

.page-heading2:hover{
  padding:4px 48px;
  background:white;
}
footer #right-footer {
  flex: 2;
  padding: 8px;
  text-align: center;
}

footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-facebook {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-whatsapp {
  color: #25D366;
}

footer #social-media-footer ul li:hover a .fa-facebook {
  color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-instagram {
  color: #e4405f;
}